<div>
    <div style="clear:both;">
        <p
            style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; border-bottom:0.75pt solid #000000; padding-bottom:1pt; font-size:18pt;">
            <strong>PLAN DE GESTI&Oacute;N DE LOS REQUISITOS</strong>
        </p>
    </div>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0"
        style="width:551.55pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td
                    style="width:48.45pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>PROYECTO</strong>
                    </p>
                </td>
                <td
                    style="width:174.45pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:49.6pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>C&Oacute;DIGO DE PROYECTO</strong>
                    </p>
                </td>
                <td
                    style="width:80.7pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:66.15pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong>FECHA DE
                            ELABORACI&Oacute;N</strong></p>
                </td>
                <td
                    style="width:66.6pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;">
        <strong>RECOPILACI&Oacute;N DE REQUISITOS</strong>
    </p>
    <table cellspacing="0" cellpadding="0"
        style="width:547.75pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Este campo asegura que el equipo del proyecto tenga un
                                    enfoque sistem&aacute;tico y planificado para identificar todos los requisitos
                                    relevantes del proyecto.</span></em></strong></p>
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">M&eacute;todos y t&eacute;cnicas de
                                    recopilaci&oacute;n:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Entrevistas
                                        estructuradas: Con usuarios finales, gerentes de tienda,
                                        administradores</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Talleres
                                        participativos (workshop): Sesiones colaborativas con equipos
                                        multifuncionales</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Grupos focales:
                                        Con segmentos espec&iacute;ficos de clientes objetivo</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Cuestionarios:
                                        Para recopilar informaci&oacute;n masiva de usuarios
                                        potenciales</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span
                                        style="font-family:Calibri; font-size:8pt; color:#5983b0;">Observaci&oacute;n:
                                        An&aacute;lisis de comportamiento en tiendas virtuales
                                        existentes</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">An&aacute;lisis
                                        de documentos: Revisi&oacute;n de procesos de negocio
                                        actuales</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Benchmarking:
                                        An&aacute;lisis de competidores y mejores pr&aacute;cticas</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; margin-bottom:14pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Prototipos:
                                        Para validar requisitos de interfaz de usuario</span></em></strong>
                        </li>
                    </ul>
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Aspectos que debe definir:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Qu&eacute;
                                        t&eacute;cnicas espec&iacute;ficas se utilizar&aacute;n para cada tipo de
                                        interesado</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Cu&aacute;ndo y
                                        con qu&eacute; frecuencia se realizar&aacute;n las actividades de
                                        recopilaci&oacute;n</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Qui&eacute;n
                                        ser&aacute; responsable de recopilar los requisitos</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">C&oacute;mo se
                                        documentar&aacute;n los requisitos recopilados</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Criterios para
                                        validar que los requisitos est&aacute;n completos y
                                        correctos</span></em></strong>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>AN&Aacute;LISIS
            DE REQUISITOS</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="width:547.75pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">El &quot;an&aacute;lisis&quot; se centra en entender, evaluar
                                    y refinar los requisitos recopilados para que sean &uacute;tiles para el
                                    proyecto.</span></em></strong></p>
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Objetivos del an&aacute;lisis:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Transformar los
                                        requisitos &quot;en bruto&quot; en especificaciones claras y
                                        procesables</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Identificar
                                        requisitos duplicados, contradictorios o innecesarios</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Establecer
                                        relaciones y dependencias entre requisitos</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; margin-bottom:14pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Determinar la
                                        viabilidad de la ejecuci&oacute;n del proyecto</span></em></strong>
                        </li>
                    </ul>
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Aspectos que debe definir:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Qu&eacute;
                                        m&eacute;todos de an&aacute;lisis se aplicar&aacute;n a diferentes tipos de
                                        requisitos</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Criterios para
                                        evaluar y priorizar requisitos</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Proceso para
                                        identificar conflictos entre requisitos</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">C&oacute;mo se
                                        resolver&aacute;n las inconsistencias o ambig&uuml;edades</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Qui&eacute;n
                                        participar&aacute; en el an&aacute;lisis y qu&eacute; roles
                                        tendr&aacute;n</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Herramientas
                                        que se utilizar&aacute;n para el an&aacute;lisis</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">M&eacute;tricas
                                        para evaluar la calidad de los requisitos</span></em></strong>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;">
        <strong>CLASIFICACI&Oacute;N DE REQUISITOS</strong>
    </p>
    <table cellspacing="0" cellpadding="0"
        style="width:547.75pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Define c&oacute;mo se van a categorizar y organizar los
                                    requisitos del proyecto de manera sistem&aacute;tica.</span></em></strong></p>
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Tipos de clasificaci&oacute;n:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Por
                                        categor&iacute;a funcional: requisitos del negocio, funcionales,
                                        t&eacute;cnicos, de calidad, de seguridad</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Por prioridad:
                                        cr&iacute;ticos, importantes, deseables (usando t&eacute;cnicas como MoSCoW:
                                        Must have, Should have, Could have, Won&apos;t have)</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Por
                                        complejidad: simples, complejos, muy complejos</span></em></strong>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;">
        <strong>PRIORIZACI&Oacute;N DE REQUISITOS</strong>
    </p>
    <table cellspacing="0" cellpadding="0"
        style="width:547.75pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Mientras que la &quot;clasificaci&oacute;n&quot; organiza los
                                    requisitos en categor&iacute;as, la &quot;priorizaci&oacute;n&quot; define
                                    c&oacute;mo se van a ordenar y jerarquizar los requisitos seg&uacute;n su
                                    importancia relativa para el &eacute;xito del proyecto.</span></em></strong></p>
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Aspectos que debe definir:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Qu&eacute;
                                        m&eacute;todo de priorizaci&oacute;n se utilizar&aacute;</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Criterios
                                        espec&iacute;ficos para determinar la prioridad (urgencia, dependencias, riesgo,
                                        ...)</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Qui&eacute;nes
                                        participar&aacute;n en el proceso de priorizaci&oacute;n</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Pesos relativos
                                        de diferentes criterios de priorizaci&oacute;n</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Proceso para
                                        resolver conflictos entre interesados sobre prioridades</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Frecuencia de
                                        revisi&oacute;n y actualizaci&oacute;n de prioridades</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span
                                        style="font-family:Calibri; font-size:8pt; color:#5983b0;">Documentaci&oacute;n
                                        de la justificaci&oacute;n para cada nivel de prioridad</span></em></strong>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>M&Eacute;TRICAS
            DE REQUISITOS</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="width:547.75pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Define c&oacute;mo se van a medir y evaluar cuantitativamente
                                    los requisitos del proyecto para asegurar su cumplimiento y calidad. Las
                                    m&eacute;tricas transforman requisitos subjetivos en criterios objetivos y medibles,
                                    proporcionando una base para determinar si el proyecto ha tenido
                                    &eacute;xito.</span></em></strong></p>
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Tipos de m&eacute;tricas:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">M&eacute;tricas
                                        de completitud: porcentaje de requisitos documentados vs.
                                        identificados</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">M&eacute;tricas
                                        de calidad: requisitos bien formados, verificables, sin
                                        ambig&uuml;edades</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">M&eacute;tricas
                                        de estabilidad: tasa de cambios en requisitos a lo largo del
                                        tiempo</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">M&eacute;tricas
                                        de trazabilidad: porcentaje de requisitos vinculados a
                                        objetivos</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">M&eacute;tricas
                                        de satisfacci&oacute;n: nivel de aprobaci&oacute;n de los
                                        interesados</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; margin-bottom:14pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">M&eacute;tricas
                                        de cumplimiento: requisitos implementados vs. planificados</span></em></strong>
                        </li>
                    </ul>
                    <p style="margin-top:5.7pt; margin-bottom:14pt; text-align:justify; font-size:8pt;">
                        <strong><em><span style="color:#5983b0;">Aspectos que debe definir:</span></em></strong>
                    </p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Indicadores
                                        espec&iacute;ficos que se medir&aacute;n para cada
                                        requisito</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Criterios de
                                        aceptaci&oacute;n cuantificables</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Umbrales de
                                        rendimiento y rangos aceptables</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">M&eacute;todos
                                        de medici&oacute;n y herramientas a utilizar</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Frecuencia de
                                        medici&oacute;n</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Responsables de
                                        recopilar y analizar las m&eacute;tricas</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Acciones
                                        correctivas cuando las m&eacute;tricas no se cumplan</span></em></strong>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;">
        <strong>VALIDACI&Oacute;N DE REQUISITOS</strong>
    </p>
    <table cellspacing="0" cellpadding="0"
        style="width:547.75pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Define c&oacute;mo se va a confirmar que los requisitos
                                    representan correctamente las necesidades de los interesados.</span></em></strong>
                    </p>
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Aspectos que debe definir:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">M&eacute;todos
                                        espec&iacute;ficos de validaci&oacute;n para cada tipo de
                                        requisito</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Criterios de
                                        validaci&oacute;n y est&aacute;ndares de aceptaci&oacute;n</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Qui&eacute;n
                                        participar&aacute; en el proceso de validaci&oacute;n (roles y
                                        responsabilidades)</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Cu&aacute;ndo
                                        se realizar&aacute; la validaci&oacute;n (hitos,
                                        frecuencia)</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Proceso para
                                        documentar resultados de validaci&oacute;n</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Manejo de
                                        requisitos no validados o rechazados</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Herramientas y
                                        t&eacute;cnicas a utilizar</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; margin-bottom:14pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Proceso de
                                        aprobaci&oacute;n final de requisitos validados</span></em></strong>
                        </li>
                    </ul>
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Diferencia clave con
                                    verificaci&oacute;n:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span
                                        style="font-family:Calibri; font-size:8pt; color:#5983b0;">Validaci&oacute;n:
                                        &quot;&iquest;Estamos construyendo el producto correcto?&quot; (requisitos vs.
                                        expectativas)</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span
                                        style="font-family:Calibri; font-size:8pt; color:#5983b0;">Verificaci&oacute;n:
                                        &quot;&iquest;Estamos construyendo correctamente el producto?&quot; (producto
                                        vs. requisitos)</span></em></strong>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>TRAZABILIDAD DE
            REQUISITOS</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="width:547.75pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Define c&oacute;mo se van a establecer y mantener las
                                    relaciones entre los requisitos y otros elementos del proyecto a lo largo de todo su
                                    ciclo de vida.</span></em></strong></p>
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Aspectos que debe definir:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Estructura de
                                        trazabilidad que se utilizar&aacute;: Matriz de
                                        Trazabilidad</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Herramientas
                                        para mantener la matriz de trazabilidad</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Responsables de
                                        crear y actualizar la matriz</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Proceso para
                                        establecer y verificar trazabilidad</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; margin-bottom:14pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Frecuencia de
                                        actualizaci&oacute;n de la matriz</span></em></strong>
                        </li>
                    </ul>
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Elementos t&iacute;picamente trazados:</span></em></strong>
                    </p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Objetivos
                                        &harr; Requisitos</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Requisitos
                                        &harr; Casos de prueba</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Requisitos
                                        &harr; Entregables del proyecto</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Requisitos
                                        &harr; Riesgos identificados</span></em></strong>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;">
        <strong>DOCUMENTACI&Oacute;N DE REQUISITOS (REGISTRO DE REQUISITOS)</strong>
    </p>
    <table cellspacing="0" cellpadding="0"
        style="width:547.75pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Elementos b&aacute;sicos que debe
                                    contener:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:28.06pt; text-align:justify; padding-left:7.94pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Identificador
                                        &uacute;nico para cada requisito</span></em></strong>
                        </li>
                        <li
                            style="margin-left:28.06pt; text-align:justify; padding-left:7.94pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">T&iacute;tulo o
                                        descripci&oacute;n del requisito</span></em></strong>
                        </li>
                        <li
                            style="margin-left:28.06pt; text-align:justify; padding-left:7.94pt; font-family:serif; font-size:11pt;">
                            <strong><em><span
                                        style="font-family:Calibri; font-size:8pt; color:#5983b0;">Categor&iacute;a del
                                        requisito</span></em></strong>
                        </li>
                        <li
                            style="margin-left:28.06pt; text-align:justify; padding-left:7.94pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Prioridad
                                        asignada</span></em></strong>
                        </li>
                        <li
                            style="margin-left:28.06pt; text-align:justify; padding-left:7.94pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Fuente u origen
                                        del requisito (interesado)</span></em></strong>
                        </li>
                        <li
                            style="margin-left:28.06pt; text-align:justify; padding-left:7.94pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Criterios de
                                        aceptaci&oacute;n</span></em></strong>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>GESTI&Oacute;N
            DE LA CONFIGURACI&Oacute;N</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="width:547.75pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#5983b0;">Los requisitos se convierten en elementos de
                                    configuraci&oacute;n una vez que son:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Documentados
                                        formalmente</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Aprobados por
                                        los interesados</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Establecidos
                                        como l&iacute;nea base (l&ntilde;inea base del alcance)</span></em></strong>
                        </li>
                        <li
                            style="margin-left:31.31pt; text-align:justify; padding-left:4.09pt; font-family:serif; font-size:11pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#5983b0;">Sujetos a
                                        control de cambios</span></em></strong>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>

</div>