<div>
    <div style="clear:both;">
        <p
            style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; border-bottom:0.75pt solid #000000; padding-bottom:1pt; font-size:18pt;">
            <strong>PLAN DE GESTI&Oacute;N DEL CRONOGRAMA</strong>
        </p>
    </div>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:44.8pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>PROYECTO</strong>
                    </p>
                </td>
                <td
                    style="width:272pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:52.2pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>C&Oacute;DIGO DE PROYECTO</strong>
                    </p>
                </td>
                <td
                    style="width:122.95pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:60.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong>FECHA DE
                            ELABORACI&Oacute;N</strong></p>
                </td>
                <td
                    style="width:110.4pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>T&Eacute;CNICAS, HERRAMIENTAS Y/O
            METODOLOG&Iacute;AS PARA &hellip;</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:102.6pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>Definir las
                            actividades</strong></p>
                </td>
                <td
                    style="width:422.8pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:102.6pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>Secuenciar las
                            actividades</strong></p>
                </td>
                <td
                    style="width:422.8pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:102.6pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>Estimar la duraci&oacute;n de
                            las actividades</strong></p>
                </td>
                <td
                    style="width:422.8pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">Especificar las t&eacute;cnicas que se utilizar&aacute;n para
                                estimar la duraci&oacute;n de las actividades.</span></em></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:27.6pt; padding-left:8.4pt; font-family:serif; font-size:10pt; color:#0070c0;">
                            <em><span style="font-family:Calibri;">Estimaci&oacute;n an&aacute;loga</span></em>
                        </li>
                        <li
                            style="margin-left:27.6pt; padding-left:8.4pt; font-family:serif; font-size:10pt; color:#0070c0;">
                            <em><span style="font-family:Calibri;">Estimaci&oacute;n param&eacute;trica</span></em>
                        </li>
                        <li
                            style="margin-left:27.6pt; padding-left:8.4pt; font-family:serif; font-size:10pt; color:#0070c0;">
                            <em><span style="font-family:Calibri;">Estimaci&oacute;n por tres valores (PERT)</span></em>
                        </li>
                        <li
                            style="margin-left:27.6pt; padding-left:8.4pt; font-family:serif; font-size:10pt; color:#0070c0;">
                            <em><span style="font-family:Calibri;">Estimaci&oacute;n ascendente</span></em>
                        </li>
                        <li style="margin-left:27.6pt; padding-left:8.4pt; font-family:serif; font-size:10pt;"><em><span
                                    style="font-family:Calibri; color:#0070c0;">Juicio de expertos</span></em></li>
                    </ul>
                    <p style="margin-top:0pt; margin-left:36pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:102.6pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>Desarrollar el
                            cronograma</strong></p>
                </td>
                <td
                    style="width:422.8pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>HERRAMIENTAS PARA LA GESTI&Oacute;N
            DEL CRONOGRAMA</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td style="width:716.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><em><span style="color:#0070c0;">Por
                                ejemplo, MS Project.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span
            style="width:72pt; display:inline-block;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>ESTIMACIONES DE TIEMPO</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:171.5pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>UNIDADES DE
                            MEDIDA</strong></p>
                </td>
                <td
                    style="width:171.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>NIVEL DE
                            PRECISI&Oacute;N</strong></p>
                </td>
                <td
                    style="width:171.55pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>RESERVAS DE
                            CONTINGENCIA</strong></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:171.5pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt;"><em><span
                                style="color:#0070c0;">Especificar las unidades que se utilizar&aacute;n para medir el
                                tiempo (horas, d&iacute;as, semanas, meses). Definir tambi&eacute;n si se usar&aacute;n
                                d&iacute;as laborables o d&iacute;as calendario.</span></em></p>
                </td>
                <td
                    style="width:171.55pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt;"><em><span
                                style="color:#0070c0;">Definir el rango de variaci&oacute;n aceptable para las
                                estimaciones de duraci&oacute;n de las actividades, por ejemplo: &plusmn;10% para
                                actividades cr&iacute;ticas, &plusmn;20% para actividades no
                                cr&iacute;ticas.</span></em></p>
                </td>
                <td
                    style="width:171.55pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt;"><em><span
                                style="color:#0070c0;">Definir c&oacute;mo se calcular&aacute;n y aplicar&aacute;n las
                                reservas de tiempo para riesgos identificados.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt;"><em><span
                                style="color:#0070c0;">M&eacute;todo de c&aacute;lculo (porcentaje fijo, an&aacute;lisis
                                de riesgos, simulaci&oacute;n Monte Carlo, etc.)</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt;"><em><span
                                style="color:#0070c0;">Porcentaje o valor (especificar cantidad)</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt;"><em><span
                                style="color:#0070c0;">Ubicaci&oacute;n en el cronograma (paquetes de trabajo o
                                actividades)</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:14pt; font-size:10pt;"><span
                            style="width:57.75pt; display:inline-block;">&nbsp;</span></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>FORMATO DE PRESENTACI&Oacute;N DEL
            CRONOGRAMA</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td style="width:716.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
        <strong>SEGUIMIENTO Y CONTROL DEL CRONOGRAMA</strong>
    </p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:93.85pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>M&eacute;trica de avance del
                            cronograma</strong></p>
                </td>
                <td
                    style="width:431.55pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">C&oacute;mo se medir&aacute; el porcentaje de avance de una
                                actividad. Responsables.</span></em></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:93.85pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>Cuentas de control de la
                            EDT</strong></p>
                </td>
                <td
                    style="width:431.55pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">Cu&aacute;les son las cuentas de control en la EDT.</span></em>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:93.85pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>Informes de estado</strong>
                    </p>
                </td>
                <td
                    style="width:431.55pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">C&oacute;mo y cu&aacute;ndo se presentar&aacute;n los informes de
                                avance del proyecto.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:93.85pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>Actualizaci&oacute;n del
                            cronograma</strong></p>
                </td>
                <td
                    style="width:431.55pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">C&oacute;mo y cu&aacute;ndo se actualizar&aacute; la l&iacute;nea
                                base de tiempo.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0" style="width:99.9%; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr style="height:12.05pt;">
                <td colspan="3"
                    style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:bottom; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong>ITERACIONES</strong></p>
                </td>
            </tr>
            <tr style="height:14.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>#</strong>
                    </p>
                </td>
                <td
                    style="width:12.88%; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>DURACI&Oacute;N</strong>
                    </p>
                </td>
                <td
                    style="width:79.86%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>DESCRIPCI&Oacute;N, ALCANCE Y ENTREGABLES</strong>
                    </p>
                </td>
            </tr>
            <tr style="height:19.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:12.88%; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:79.86%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
            <tr style="height:20.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:12.88%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:79.86%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>

</div>