<h2>Registro de Actividades</h2>
<p>&nbsp;</p>
<figure class="table">
    <table>
        <tbody>
            <tr>
                <td><strong>Nombre del Proyecto</strong>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong>Código del Proyecto</strong>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong>Fecha de Creación</strong>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</figure>
<p>&nbsp;</p>
<p><strong>HISTÓRICO DE MODIFICACIONES DEL DOCUMENTO</strong>&nbsp;</p>
<figure class="table">
    <table>
        <tbody>
            <tr>
                <td><strong>Fecha</strong>&nbsp;</td>
                <td><strong>Realizada por</strong>&nbsp;</td>
                <td><strong>Breve descripción de los cambios</strong>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</figure>
<p>&nbsp;</p>
<p><strong>ACTIVIDADES DEL CRONOGRAMA</strong>&nbsp;</p>
<p><i>A continuación se muestra el listado completo y actualizado de las actividades del proyecto, sincronizado directamente desde el cronograma del proyecto (diagrama de Gantt).</i></p>
<figure class="table">
    <table class="activities-table" border="1" cellpadding="8" cellspacing="0" style="width:100%; border-collapse:collapse;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <td><strong>CÓDIGO (EDT)</strong>&nbsp;</td>
                <td><strong>ACTIVIDAD</strong>&nbsp;</td>
                <td><strong>DESCRIPCIÓN</strong>&nbsp;</td>
                <td><strong>FECHA INICIO</strong>&nbsp;</td>
                <td><strong>FECHA FIN</strong>&nbsp;</td>
                <td><strong>DURACIÓN</strong>&nbsp;</td>
                <td><strong>RESPONSABLE</strong>&nbsp;</td>
                <td><strong>PREDECESORA</strong>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</figure>
<p>&nbsp;</p>
