<div>
    <div style="clear:both;">
        <p
            style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; border-bottom:0.75pt solid #000000; padding-bottom:1pt; font-size:18pt;">
            <strong>PLAN DE GESTI&Oacute;N DE LA CALIDAD</strong>
        </p>
    </div>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:44.8pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>PROYECTO</strong>
                    </p>
                </td>
                <td
                    style="width:272pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:52.2pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>C&Oacute;DIGO DE PROYECTO</strong>
                    </p>
                </td>
                <td
                    style="width:122.95pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:60.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong>FECHA DE
                            ELABORACI&Oacute;N</strong></p>
                </td>
                <td
                    style="width:110.4pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>NORMAS Y PROCEDIMIENTOS A APLICAR
            (de los FAE)</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td style="width:716.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0" style="width:99.9%; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr style="height:12.05pt;">
                <td colspan="3"
                    style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:bottom; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong>OBJETIVOS DE CALIDAD</strong>
                    </p>
                </td>
            </tr>
            <tr style="height:14.3pt;">
                <td
                    style="width:12.78%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>ENTREGABLE</strong>
                    </p>
                </td>
                <td
                    style="width:55.02%; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>OBJETIVO</strong>
                    </p>
                </td>
                <td
                    style="width:32.2%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>M&Eacute;TRICA</strong>
                    </p>
                </td>
            </tr>
            <tr style="height:19.3pt;">
                <td
                    style="width:12.78%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:55.02%; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:32.2%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
            <tr style="height:20.3pt;">
                <td
                    style="width:12.78%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:55.02%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:32.2%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>ACTIVIDADES DE
            CONTROL DE CALIDAD DE LOS ENTREGABLES</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:45.4pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p
                        style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt; background-color:#d9d9d9;">
                        <strong>EDT #</strong>
                    </p>
                </td>
                <td
                    style="width:102.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p
                        style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt; background-color:#d9d9d9;">
                        <strong>PAQUETE DE TRABAJO</strong>
                    </p>
                </td>
                <td
                    style="width:269.5pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p
                        style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt; background-color:#d9d9d9;">
                        <strong>ACTIVIDAD</strong>
                    </p>
                    <p
                        style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt; background-color:#d9d9d9;">
                        <em><span style="color:#0070c0;">Actividad a incluir en el Diccionario de la EDT del paquete de
                                trabajo.</span></em>
                    </p>
                </td>
                <td
                    style="width:90.15pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p
                        style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt; background-color:#d9d9d9;">
                        <strong>RESPONSABLE</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:45.4pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:102.55pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:269.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:90.15pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:45.4pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:102.55pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:269.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:90.15pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:45.4pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:102.55pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:269.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:90.15pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:45.4pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:102.55pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:269.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:90.15pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:45.4pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:102.55pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:269.5pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:90.15pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0" style="width:99.9%; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr style="height:12.05pt;">
                <td colspan="2"
                    style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:bottom; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong>LISTAS DE CONTROL DE LOS
                            ENTREGABLES</strong></p>
                </td>
            </tr>
            <tr style="height:14.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>#</strong>
                    </p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>DESCRIPCI&Oacute;N</strong>
                    </p>
                </td>
            </tr>
            <tr style="height:19.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
            <tr style="height:20.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>PLAN DE MEJORA DE LOS PROCESOS DE
            GESTI&Oacute;N</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:50.85pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p
                        style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt; background-color:#d9d9d9;">
                        <strong>EDT #</strong>
                    </p>
                </td>
                <td
                    style="width:101.5pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p
                        style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt; background-color:#d9d9d9;">
                        <strong>PAQUETE DE TRABAJO</strong>
                    </p>
                </td>
                <td
                    style="width:265.6pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p
                        style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt; background-color:#d9d9d9;">
                        <strong>ACTIVIDAD</strong>
                    </p>
                    <p
                        style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt; background-color:#d9d9d9;">
                        <em><span style="color:#0070c0;">Actividad a incluir en el Diccionario de la EDT del paquete de
                                trabajo.</span></em>
                    </p>
                </td>
                <td
                    style="width:89.65pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p
                        style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt; background-color:#d9d9d9;">
                        <strong>RESPONSABLE</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:50.85pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:101.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:265.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:89.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:50.85pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:101.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:265.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:89.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:50.85pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:101.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:265.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:89.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:50.85pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:101.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:265.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:89.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:50.85pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:101.5pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:265.6pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:89.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0" style="width:99.9%; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr style="height:12.05pt;">
                <td colspan="2"
                    style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:bottom; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong>HITOS A INCLUIR</strong></p>
                </td>
            </tr>
            <tr style="height:14.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>#</strong>
                    </p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>DESCRIPCI&Oacute;N</strong>
                    </p>
                </td>
            </tr>
            <tr style="height:19.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
            <tr style="height:20.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0" style="width:99.9%; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr style="height:12.05pt;">
                <td colspan="2"
                    style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:bottom; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong>REUNIONES A REALIZAR</strong>
                    </p>
                </td>
            </tr>
            <tr style="height:14.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>#</strong>
                    </p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>DESCRIPCI&Oacute;N</strong>
                    </p>
                </td>
            </tr>
            <tr style="height:19.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
            <tr style="height:20.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0" style="width:99.9%; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr style="height:12.05pt;">
                <td colspan="2"
                    style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:bottom; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong>INFORMES A ELABORAR</strong>
                    </p>
                </td>
            </tr>
            <tr style="height:14.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>#</strong>
                    </p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>DESCRIPCI&Oacute;N</strong>
                    </p>
                </td>
            </tr>
            <tr style="height:19.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
            <tr style="height:20.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0" style="width:99.9%; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr style="height:12.05pt;">
                <td colspan="2"
                    style="border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:bottom; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;"><strong>AUDITOR&Iacute;AS
                            EXTERNAS</strong></p>
                </td>
            </tr>
            <tr style="height:14.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>#</strong>
                    </p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>DESCRIPCI&Oacute;N</strong>
                    </p>
                </td>
            </tr>
            <tr style="height:19.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
            <tr style="height:20.3pt;">
                <td
                    style="width:7.26%; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
                <td
                    style="width:92.74%; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:9pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>HERRAMIENTAS PARA LA GESTI&Oacute;N
            DE LA CALIDAD</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td style="width:716.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>

</div>