<div>
    <div style="clear:both;">
        <p
            style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; border-bottom:0.75pt solid #000000; padding-bottom:1pt; font-size:18pt;">
            <strong>REGISTRO DE REQUISITOS</strong>
        </p>
    </div>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:89.1pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>Nombre del Proyecto</strong>
                    </p>
                </td>
                <td
                    style="width:214.2pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:83.7pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;">
                        <strong>C&oacute;digo del Proyecto</strong>
                    </p>
                </td>
                <td
                    style="width:74.7pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:90.1pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong>Fecha de
                            Elaboraci&oacute;n</strong></p>
                </td>
                <td
                    style="width:110.4pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><strong>&nbsp;</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:51.3pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong>ID DEL
                            REQUISITO</strong></p>
                </td>
                <td
                    style="width:49.5pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>CATEGOR&Iacute;A</strong>
                    </p>
                </td>
                <td
                    style="width:226.6pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>REQUISITO</strong>
                    </p>
                </td>
                <td
                    style="width:53pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>PRIORIDAD</strong>
                    </p>
                </td>
                <td
                    style="width:152.2pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong>CRITERIOS
                            DE ACEPTACI&Oacute;N</strong></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">&nbsp;</span></em></strong></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Especifican:</span></em></strong></p>
                    <ul type="disc" style="margin:0pt; padding-left:0pt;">
                        <li
                            style="margin-left:9.6pt; text-align:justify; padding-left:8.4pt; font-family:serif; font-size:10pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#4f81bd;">Las condiciones
                                        que deben cumplirse antes de que se acepten los entregables del
                                        proyecto.</span></em></strong>
                        </li>
                        <li
                            style="margin-left:9.6pt; text-align:justify; padding-left:8.4pt; font-family:serif; font-size:10pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#4f81bd;">Los
                                        est&aacute;ndares de calidad que el entregable debe
                                        cumplir.</span></em></strong>
                        </li>
                        <li
                            style="margin-left:9.6pt; margin-bottom:6pt; text-align:justify; padding-left:8.4pt; font-family:serif; font-size:10pt;">
                            <strong><em><span style="font-family:Calibri; font-size:8pt; color:#4f81bd;">Las
                                        m&eacute;tricas y umbrales que se utilizar&aacute;n para validar que el
                                        requisito se ha completado.</span></em></strong>
                        </li>
                    </ul>
                </td>
                <td
                    style="width:123.85pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>INTERESADO</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:51.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">RF-001</span></em></strong></p>
                </td>
                <td
                    style="width:49.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Funcionales</span></em></strong></p>
                </td>
                <td
                    style="width:226.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Registro de usuarios: Permitir registro con email, nombre,
                                    contrase&ntilde;a</span></em></strong></p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Alta</span></em></strong></p>
                </td>
                <td
                    style="width:152.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Usuario puede crear cuenta y recibir email de
                                    confirmaci&oacute;n</span></em></strong></p>
                </td>
                <td
                    style="width:123.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Cliente</span></em></strong></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:51.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">&nbsp;</span></em></strong></p>
                </td>
                <td
                    style="width:49.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">&nbsp;</span></em></strong></p>
                </td>
                <td
                    style="width:226.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">&nbsp;</span></em></strong></p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">&nbsp;</span></em></strong></p>
                </td>
                <td
                    style="width:152.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">&nbsp;</span></em></strong></p>
                </td>
                <td
                    style="width:123.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">&nbsp;</span></em></strong></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:51.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">RF-012</span></em></strong></p>
                </td>
                <td
                    style="width:49.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Funcionales</span></em></strong></p>
                </td>
                <td
                    style="width:226.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Agregar al carrito: A&ntilde;adir productos con talla
                                    seleccionada</span></em></strong></p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Alta</span></em></strong></p>
                </td>
                <td
                    style="width:152.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Producto se a&ntilde;ade y refleja cantidad
                                    actualizada</span></em></strong></p>
                </td>
                <td
                    style="width:123.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Cliente</span></em></strong></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:51.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:49.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:226.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:152.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:123.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:51.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">RNF-006</span></em></strong></p>
                </td>
                <td
                    style="width:49.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">No Funcionales - Seguridad</span></em></strong></p>
                </td>
                <td
                    style="width:226.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Conexi&oacute;n segura: HTTPS en toda la
                                    aplicaci&oacute;n</span></em></strong></p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Alta</span></em></strong></p>
                </td>
                <td
                    style="width:152.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Certificado SSL v&aacute;lido</span></em></strong></p>
                </td>
                <td
                    style="width:123.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:8pt;"><strong><em><span
                                    style="color:#4f81bd;">Equipo de trabajo</span></em></strong></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:51.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:49.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:226.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:152.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:123.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:51.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:49.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:226.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:152.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:123.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:51.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:49.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:226.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:152.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:123.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:51.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:49.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:226.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:152.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:123.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:51.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:49.5pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:226.6pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:152.2pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:123.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:51.3pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:49.5pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:226.6pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:53pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:152.2pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:123.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:justify; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><strong>&nbsp;</strong></p>

</div>