<div>
    <div style="clear:both;">
        <p
            style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; border-bottom:0.75pt solid #000000; padding-bottom:1pt; font-size:18pt;">
            <strong>PLAN DE GESTI&Oacute;N DE LAS ADQUISICIONES</strong>
        </p>
    </div>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:44.8pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>PROYECTO</strong>
                    </p>
                </td>
                <td
                    style="width:272pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:14pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:52.2pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>C&Oacute;DIGO DE PROYECTO</strong>
                    </p>
                </td>
                <td
                    style="width:122.95pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
                <td
                    style="width:60.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong>FECHA DE
                            ELABORACI&Oacute;N</strong></p>
                </td>
                <td
                    style="width:110.4pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>&nbsp;</strong>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>NORMAS Y PROCEDIMIENTOS A APLICAR
            (FAE)</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td style="width:716.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>DOCUMENTOS A UTILIZAR (APO)</strong>
    </p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td style="width:716.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>ADQUISICIONES</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:30.05pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>#</strong>
                    </p>
                </td>
                <td
                    style="width:53pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>EDT
                            #</strong></p>
                </td>
                <td
                    style="width:138.05pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>PAQUETE DE
                            TRABAJO</strong></p>
                </td>
                <td
                    style="width:286.5pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>RECURSO</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:30.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:138.05pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em><em><span style="color:#0070c0;">(si
                                procede)</span></em></p>
                </td>
                <td
                    style="width:286.5pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:30.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:138.05pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:286.5pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:30.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:138.05pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:286.5pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:30.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:53pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:138.05pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:286.5pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:30.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:53pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:138.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:286.5pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>CALENDARIO DE
            ADQUISICIONES</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>SUPUESTOS Y RESTRICCIONES PARA LAS
            ADQUISICIONES</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td style="width:540pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>POR CADA RECURSO</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:70.05pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">#</p>
                </td>
                <td
                    style="width:455.85pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:70.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">RECURSO</p>
                </td>
                <td
                    style="width:455.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:70.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">ENUNCIADO DEL TRABAJO</p>
                </td>
                <td
                    style="width:455.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:70.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">PROCEDIMIENTO DE SELECCI&Oacute;N</p>
                </td>
                <td
                    style="width:455.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:70.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">PROVEEDORES YA CUALIFICADOS</p>
                </td>
                <td
                    style="width:455.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:70.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">TIPO DE CONTRATO</p>
                </td>
                <td
                    style="width:455.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:70.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">SEGUIMIENTO DEL PROVEEDOR</p>
                </td>
                <td
                    style="width:455.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:70.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">CONTROLES DE CALIDAD</p>
                </td>
                <td
                    style="width:455.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:70.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">RESPONSABLES</p>
                </td>
                <td
                    style="width:455.85pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>CRITERIOS DE
            SELECCI&Oacute;N</strong></p>
    <table cellspacing="0" cellpadding="0" style="border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:440.1pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>CRITERIO</strong>
                    </p>
                </td>
                <td
                    style="width:85.3pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>PONDERACI&Oacute;N&nbsp;</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:440.1pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:85.3pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:right; font-size:10pt;"><strong>%</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:440.1pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:85.3pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:right; font-size:10pt;"><strong>%</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:440.1pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:85.3pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:right; font-size:10pt;"><strong>%</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:440.1pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:85.3pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:right; font-size:10pt;"><strong>%</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:440.1pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:85.3pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:right; font-size:10pt;"><strong>%</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:440.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.4pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:85.3pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong>100
                            %</strong></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>AUDITOR&Iacute;AS DE LAS
            ADQUISICIONES</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td style="width:540pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>CIERRE DE LAS ADQUISICIONES</strong>
    </p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td style="width:540pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>

</div>