<h2>Acta de Constitución del Proyecto</h2>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>NOMBRE DEL PROYECTO:</strong>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>CÓDIGO DEL PROYECTO:</strong>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>PROPIETARIO DEL PROYECTO:</strong>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>PATROCINADOR DEL PROYECTO:</strong>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>DIRECTOR DEL PROYECTO:</strong>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>FECHA DE CREACIÓN:</strong>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>ELABORADO POR:</strong>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>VERSIÓN DEL DOCUMENTO:</strong>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<p><strong>HISTÓRICO DE MODIFICACIONES DEL DOCUMENTO</strong>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Fecha</strong>&nbsp;</td>
        <td><strong>Realizada por</strong>&nbsp;</td>
        <td><strong>Breve descripción de los cambios</strong>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<p><strong>PROPÓSITO DEL PROYECTO</strong>&nbsp;</p>
<p><i>Las razones que han llevado al propietario del proyecto a solicitar el proyecto.</i>&nbsp;</p>
<p><i>&nbsp;</i></p>
<p><i>&nbsp;</i></p>
<p><i>&nbsp;</i></p>
<p>&nbsp;</p>
<p><strong>DESCRIPCIÓN DE ALTO NIVEL DEL PROYECTO, RESULTADO(S)/PRODUCTO(S)</strong>&nbsp;</p>
<p><i>Esta sección debe identificar lo que se considera en el alcance del proyecto, es decir, el trabajo a realizar en
    el proyecto, los productos que el proyecto entregará y que forman la solución que aborda la situación actual
    (problema, necesidad u oportunidad).</i>&nbsp;</p>
<p><i>&nbsp;</i></p>
<p><i>&nbsp;</i></p>
<p><i>&nbsp;</i></p>
<p>&nbsp;</p>
<p><strong>EXCLUIDO DEL PROYECTO</strong>&nbsp;</p>
<p><i>Esta sección debe identificar lo que se considera fuera del alcance del proyecto, es decir, que el proyecto no
    entregará. Es tan importante definir lo que está en el alcance, como lo que está fuera del alcance del proyecto,
    para manejar mejor las expectativas del propietario del proyecto y de las partes interesadas.</i>&nbsp;</p>
<p><i>&nbsp;</i></p>
<p><i>&nbsp;</i></p>
<p><i>&nbsp;</i></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>ENTREGABLES DEL PROYECTO</strong>&nbsp;</p>
<p><i>Esta sección debe identificar los entregables del proyecto. Piense en un entregable como un objeto tangible o
    intangible producido como resultado del proyecto que se pretende entregar al propietario del proyecto. Los
    entregables relativos a la gestión del proyecto no deben ser considerados en este documento.</i>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Id</strong>&nbsp;</td>
        <td><strong>Nombre</strong>&nbsp;</td>
        <td><strong>Descripción</strong>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<p><strong>OBJETIVOS DEL PROYECTO</strong>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Id</strong>&nbsp;</td>
        <td><strong>Objetivo</strong>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<p><strong>REQUISITOS DE ALTO NIVEL</strong>&nbsp;</p>
<p><i>Esta sección debe definir las características esperadas de los entregables que se entregarán al cliente. Piense en
    las características como las capacidades de alto nivel asociadas a los entregables que son necesarias para aportar
    los beneficios esperados a los usuarios. Estas características se ampliarán en mayor detalle más adelante en el
    proyecto.</i>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Id</strong>&nbsp;</td>
        <td><strong>Requisito</strong>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<p><strong>CRITERIOS DE ÉXITO</strong>&nbsp;</p>
<p><i>Esta sección debe describir los criterios de éxito del proyecto. Piense en los criterios de éxito como los
    criterios medibles en base a los cuales el proyecto en su conjunto puede ser considerado un éxito o un
    fracaso.</i>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>HITOS CLAVE</strong>&nbsp;</p>
<p><i>Esta sección debe enumerar los sucesos importantes en el ciclo de vida del proyecto (es decir, los hitos). La
    lista puede incluir una indicación sobre el calendario previsto para las principales fases del proyecto (p.ej., las
    fases de Planificación, Ejecución y Cierre), así como los entregables del proyecto y de gestión del proyecto (p.ej.,
    el Plan de Dirección del Proyecto) y la fecha en que se espera que finalice el proyecto.</i>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Hito</strong>&nbsp;</td>
        <td><strong>Fecha</strong>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<p><strong>PRESUPUESTO RESUMIDO</strong>&nbsp;</p>
<p><i>Proporcionar el coste total para el propietario del proyecto de la solución entregada (productos del
    proyecto).</i>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>INTERESADOS CLAVE</strong>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Interesado</strong>&nbsp;</td>
        <td><strong>Rol</strong>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<p><strong>SUPUESTOS/RESTRICCIONES DE ALTO NIVEL</strong>&nbsp;</p>
<p><i>Esta sección debe describir cualquier supuesto del proyecto relacionado con el negocio, la tecnología, los
    recursos, el entorno organizativo, el alcance, las expectativas o los plazos. Los supuestos se consideran hechos
    (verdaderos), pero deben ser validados, ya que en otro caso se consideran riesgos.</i>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>RIESGOS DE ALTO NIVEL</strong>&nbsp;</p>
<p><i>Añada cualquier riesgo inicial que deba ser identificado. Se debe focalizar especialmente en los riesgos de
    negocio.</i>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>NIVEL DE AUTORIDAD DEL DIRECTOR DEL PROYECTO</strong>&nbsp;</p>
<p><i>Indicar el nivel de autoridad del director del proyecto acerca de:</i>&nbsp;</p>
<p><i>&nbsp;&nbsp;&nbsp; La gestión del cronograma y del presupuesto.</i>&nbsp;</p>
<p><i>&nbsp;&nbsp;&nbsp; Los recursos materiales y humanos (dotación de personal).</i>&nbsp;</p>
<p><i>&nbsp;&nbsp;&nbsp; Decisiones técnicas.</i>&nbsp;</p>
<p><i>&nbsp;&nbsp;&nbsp; Resolución de conflictos.</i>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>APROBACIÓN</strong>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Cargo</strong>&nbsp;</td>
        <td><strong>Firma</strong>&nbsp;</td>
        <td><strong>Fecha</strong>&nbsp;</td>
      </tr>
      <tr>
        <td>Patrocinador&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Director del Proyecto&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>