<div>
  <div style="clear:both;">
    <p
      style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; border-bottom:0.75pt solid #000000; padding-bottom:1pt; font-size:18pt;">
      <strong>ACTA DE CONSTITUCI&Oacute;N</strong>
    </p>
  </div>
  <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td
          style="width:215.1pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>NOMBRE DEL PROYECTO:</strong></p>
        </td>
        <td
          style="width:310.3pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>C&Oacute;DIGO DEL PROYECTO:</strong></p>
        </td>
        <td
          style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>PROPIETARIO DEL PROYECTO:</strong></p>
        </td>
        <td
          style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>PATROCINADOR DEL PROYECTO:</strong></p>
        </td>
        <td
          style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>DIRECTOR DEL PROYECTO:</strong></p>
        </td>
        <td
          style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>FECHA DE CREACI&Oacute;N:</strong></p>
        </td>
        <td
          style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>ELABORADO POR:</strong></p>
        </td>
        <td
          style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>VERSI&Oacute;N DEL DOCUMENTO:</strong>
          </p>
        </td>
        <td
          style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:14pt;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>HIST&Oacute;RICO
      DE MODIFICACIONES DEL DOCUMENTO</strong></p>
  <table cellspacing="0" cellpadding="0" style="width:100%; border:0.75pt solid #7f7f7f; border-collapse:collapse;">
    <tbody>
      <tr>
        <td
          style="width:12.1%; border-right:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:11pt;"><strong>Fecha</strong></p>
        </td>
        <td
          style="width:19.54%; border-right:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:11pt;"><strong>Realizada por</strong>
          </p>
        </td>
        <td
          style="width:68.36%; border-left:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:11pt;"><strong>Breve
              descripci&oacute;n de los cambios</strong></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:12.1%; border-top:0.75pt solid #7f7f7f; border-right:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:19.54%; border:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; line-height:10pt; widows:0; orphans:0;"><span
              style="font-size:10pt; color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:68.36%; border-top:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:12.1%; border-top:0.75pt solid #7f7f7f; border-right:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
        </td>
        <td
          style="width:19.54%; border-top:0.75pt solid #7f7f7f; border-right:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
        </td>
        <td
          style="width:68.36%; border-top:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>PROP&Oacute;SITO
      DEL PROYECTO</strong></p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#0070c0;">Las razones que han llevado al propietario del proyecto a solicitar el
        proyecto.</span></em>
  </p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:6pt; text-align:justify; line-height:12pt;"><span
              style="font-family:'Times New Roman'; font-size:12pt; color:#0000ff;">&nbsp;</span></p>
          <p style="margin-top:0pt; margin-bottom:6pt; text-align:justify; line-height:12pt;"><span
              style="font-family:'Times New Roman'; font-size:12pt; color:#0000ff;">&nbsp;</span></p>
          <p style="margin-top:0pt; margin-bottom:6pt; text-align:justify; line-height:12pt;"><em><span
                style="font-family:'Times New Roman'; font-size:12pt; color:#0000ff;">&nbsp;</span></em></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>DESCRIPCI&Oacute;N
      DE ALTO NIVEL DEL PROYECTO, RESULTADO(S)/PRODUCTO(S)</strong></p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#0070c0;">Esta secci&oacute;n debe identificar lo que se considera en el alcance del
        proyecto, es decir, el trabajo a realizar en el proyecto, los productos que el proyecto entregar&aacute; y que
        forman la soluci&oacute;n que aborda la situaci&oacute;n actual (problema, necesidad u oportunidad).</span></em>
  </p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:6pt; text-align:justify; line-height:12pt;"><span
              style="font-size:10pt; color:#0070c0;">&nbsp;</span></p>
          <p style="margin-top:0pt; margin-bottom:6pt; text-align:justify; line-height:12pt;"><span
              style="font-size:10pt; color:#0070c0;">&nbsp;</span></p>
          <p style="margin-top:0pt; margin-bottom:6pt; text-align:justify; line-height:12pt;"><span
              style="font-size:10pt; color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>EXCLUIDO DEL
      PROYECTO</strong></p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#0070c0;">Esta secci&oacute;n debe identificar lo que se considera fuera del alcance del
        proyecto, es decir, que el proyecto no entregar&aacute;. Es tan importante definir lo que est&aacute; en el
        alcance, como lo que est&aacute; fuera del alcance del proyecto, para manejar mejor las expectativas del
        propietario del proyecto y de las partes interesadas.</span></em>
  </p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:6pt; text-align:justify; line-height:12pt;"><span
              style="font-size:10pt; color:#0070c0;">&nbsp;</span></p>
          <p style="margin-top:0pt; margin-bottom:6pt; text-align:justify; line-height:12pt;"><span
              style="font-size:10pt; color:#0070c0;">&nbsp;</span></p>
          <p style="margin-top:0pt; margin-bottom:6pt; text-align:justify; line-height:12pt;"><span
              style="font-size:10pt; color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>ENTREGABLES DEL PROYECTO</strong></p>
  <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt; background-color:#d9d9d9;"><em><span
        style="color:#0070c0;">Esta secci&oacute;n debe identificar los entregables del proyecto. Piense en un
        entregable como un objeto tangible o intangible producido como resultado del proyecto que se pretende entregar
        al propietario del proyecto. Los entregables relativos a la gesti&oacute;n del proyecto no deben ser
        considerados en este documento.</span></em></p>
  <table cellspacing="0" cellpadding="0" style="width:551.9pt; border:0.75pt solid #000000; border-collapse:collapse;">
    <tbody>
      <tr>
        <td
          style="width:22.95pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Id</strong></p>
        </td>
        <td
          style="width:95.55pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Nombre</strong></p>
        </td>
        <td
          style="width:400.25pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
            <strong>Descripci&oacute;n</strong>
          </p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:95.55pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:400.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:95.55pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:400.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:95.55pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:400.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:95.55pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
        <td
          style="width:400.25pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>OBJETIVOS DEL PROYECTO</strong></p>
  <table cellspacing="0" cellpadding="0" style="width:551.9pt; border:0.75pt solid #000000; border-collapse:collapse;">
    <tbody>
      <tr>
        <td
          style="width:22.95pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Id</strong></p>
        </td>
        <td
          style="width:506.6pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Objetivo</strong></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>REQUISITOS DE ALTO NIVEL</strong></p>
  <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt; background-color:#d9d9d9;"><em><span
        style="color:#0070c0;">Esta secci&oacute;n debe definir las caracter&iacute;sticas esperadas de los entregables
        que se entregar&aacute;n al cliente. Piense en las caracter&iacute;sticas como las capacidades de alto nivel
        asociadas a los entregables que son necesarias para aportar los beneficios esperados a los usuarios. Estas
        caracter&iacute;sticas se ampliar&aacute;n en mayor detalle m&aacute;s adelante en el proyecto.</span></em></p>
  <table cellspacing="0" cellpadding="0" style="width:551.9pt; border:0.75pt solid #000000; border-collapse:collapse;">
    <tbody>
      <tr>
        <td
          style="width:22.95pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Id</strong></p>
        </td>
        <td
          style="width:506.6pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Requisito</strong>
          </p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td
          style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>CRITERIOS DE
      &Eacute;XITO</strong></p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#0070c0;">Esta secci&oacute;n debe describir los criterios de &eacute;xito del proyecto.
        Piense en los criterios de &eacute;xito como los criterios medibles en base a los cuales el proyecto en su
        conjunto puede ser considerado un &eacute;xito o un fracaso.</span></em>
  </p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>HITOS CLAVE</strong></p>
  <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt; background-color:#d9d9d9;"><em><span
        style="color:#0070c0;">Esta secci&oacute;n debe enumerar los sucesos importantes en el ciclo de vida del
        proyecto (es decir, los hitos). La lista puede incluir una indicaci&oacute;n sobre el calendario previsto para
        las principales fases del proyecto (p.ej., las fases de Planificaci&oacute;n, Ejecuci&oacute;n y Cierre),
        as&iacute; como los entregables del proyecto y de gesti&oacute;n del proyecto (p.ej., el Plan de
        Direcci&oacute;n del Proyecto) y la fecha en que se espera que finalice el proyecto.</span></em></p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td
          style="width:354.6pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Hito</strong></p>
        </td>
        <td
          style="width:170.8pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Fecha</strong></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:354.6pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:170.8pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:354.6pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:170.8pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:354.6pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:170.8pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:354.6pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:170.8pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:354.6pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:170.8pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:354.6pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:170.8pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>PRESUPUESTO
      RESUMIDO</strong></p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#0070c0;">Proporcionar el coste total para el propietario del proyecto de la soluci&oacute;n
        entregada (productos del proyecto).</span></em>
  </p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>INTERESADOS CLAVE</strong></p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td
          style="width:262.7pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Interesado</strong>
          </p>
        </td>
        <td
          style="width:262.7pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Rol</strong></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:262.7pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:262.7pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:262.7pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
        <td
          style="width:262.7pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:10pt;"><span
              style="color:#0070c0;">&nbsp;</span></p>
        </td>
      </tr>
      <tr>
        <td
          style="width:262.7pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
        <td
          style="width:262.7pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;">
    <strong>SUPUESTOS/RESTRICCIONES DE ALTO NIVEL</strong>
  </p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#0070c0;">Esta secci&oacute;n debe describir cualquier supuesto del proyecto relacionado con
        el negocio, la tecnolog&iacute;a, los recursos, el entorno organizativo, el alcance, las expectativas o los
        plazos. Los supuestos se consideran hechos (verdaderos), pero deben ser validados, ya que en otro caso se
        consideran riesgos.</span></em>
  </p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>RIESGOS DE ALTO
      NIVEL</strong></p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#1b6fb5;">A&ntilde;ada cualquier riesgo inicial que deba ser identificado. Se debe focalizar
        especialmente en los riesgos de negocio.</span></em>
  </p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;"><strong>&nbsp;</strong></p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;"><strong>&nbsp;</strong></p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;"><strong>&nbsp;</strong></p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;"><strong>&nbsp;</strong></p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;"><strong>&nbsp;</strong></p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;"><strong>&nbsp;</strong></p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;"><strong>&nbsp;</strong></p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;"><strong>&nbsp;</strong></p>
  <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>NIVEL DE AUTORIDAD
      DEL DIRECTOR DEL PROYECTO</strong></p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#1b6fb5;">Indicar el nivel de autoridad del director del proyecto acerca de:</span></em>
  </p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#1b6fb5;">&nbsp;&nbsp;&nbsp; </span></em><em><span style="color:#1b6fb5;">La gesti&oacute;n
        del cronograma y del presupuesto.</span></em>
  </p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#1b6fb5;">&nbsp;&nbsp;&nbsp; </span></em><em><span style="color:#1b6fb5;">Los recursos
        materiales y humanos (dotaci&oacute;n de personal).</span></em>
  </p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#1b6fb5;">&nbsp;&nbsp;&nbsp; </span></em><em><span style="color:#1b6fb5;">Decisiones
        t&eacute;cnicas.</span></em>
  </p>
  <p
    style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:10pt; background-color:#d9d9d9;">
    <em><span style="color:#1b6fb5;">&nbsp;&nbsp;&nbsp; </span></em><em><span style="color:#1b6fb5;">Resoluci&oacute;n
        de conflictos.</span></em>
  </p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
  <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>APROBACI&Oacute;N</strong></p>
  <table cellspacing="0" cellpadding="0"
    style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
    <tbody>
      <tr>
        <td
          style="width:160.2pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Cargo</strong></p>
        </td>
        <td
          style="width:241.8pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Firma</strong></p>
        </td>
        <td
          style="width:109.65pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
          <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Fecha</strong></p>
        </td>
      </tr>
      <tr style="height:60.65pt;">
        <td
          style="width:160.2pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">Patrocinador</p>
        </td>
        <td
          style="width:241.8pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">&nbsp;</p>
        </td>
        <td
          style="width:109.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
      <tr style="height:63.8pt;">
        <td
          style="width:160.2pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
          <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">Director del Proyecto</p>
        </td>
        <td
          style="width:241.8pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">&nbsp;</p>
        </td>
        <td
          style="width:109.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
          <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>

</div>