<div>
    <div style="clear:both;">
        <p
            style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; border-bottom:0.75pt solid #000000; padding-bottom:1pt; font-size:18pt;">
            <strong>REGISTRO DE SUPUESTOS</strong>
        </p>
    </div>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:89.1pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><strong>Nombre del Proyecto</strong>
                    </p>
                </td>
                <td
                    style="width:214.2pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:83.7pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;">
                        <strong>C&oacute;digo del Proyecto</strong>
                    </p>
                </td>
                <td
                    style="width:74.7pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:90.1pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:10pt;"><strong>Fecha de
                            Creaci&oacute;n</strong></p>
                </td>
                <td
                    style="width:110.4pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><strong>&nbsp;</strong></p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>HIST&Oacute;RICO
            DE MODIFICACIONES DEL DOCUMENTO</strong></p>
    <table cellspacing="0" cellpadding="0" style="width:100%; border:0.75pt solid #7f7f7f; border-collapse:collapse;">
        <tbody>
            <tr>
                <td
                    style="width:12.1%; border-right:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:11pt;">
                        <strong>Fecha</strong>
                    </p>
                </td>
                <td
                    style="width:19.54%; border-right:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:11pt;"><strong>Realizada
                            por</strong></p>
                </td>
                <td
                    style="width:68.36%; border-left:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:11pt;"><strong>Breve
                            descripci&oacute;n de los cambios</strong></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:12.1%; border-top:0.75pt solid #7f7f7f; border-right:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
                <td
                    style="width:19.54%; border:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:10pt; widows:0; orphans:0;"><span
                            style="font-size:10pt; color:#0070c0;">&nbsp;</span></p>
                </td>
                <td
                    style="width:68.36%; border-top:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:12.1%; border-top:0.75pt solid #7f7f7f; border-right:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:19.54%; border-top:0.75pt solid #7f7f7f; border-right:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:68.36%; border-top:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>SUPUESTOS/RESTRICCIONES</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:17.35pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><strong>ID</strong>
                    </p>
                </td>
                <td
                    style="width:179.1pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>DESCRIPCI&Oacute;N</strong>
                    </p>
                </td>
                <td
                    style="width:98.95pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>RESPONSABLE</strong>
                    </p>
                </td>
                <td
                    style="width:67.05pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>VENCIMIENTO</strong>
                    </p>
                </td>
                <td
                    style="width:91.45pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>ESTADO</strong>
                    </p>
                </td>
                <td
                    style="width:212.1pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;">
                        <strong>Comentarios</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:17.35pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:10pt;"><strong>1</strong>
                    </p>
                </td>
                <td
                    style="width:179.1pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Los supuestos son factores que, para prop&oacute;sitos de
                                planificaci&oacute;n, se consideran verdaderos, reales o ciertos sin requerir prueba o
                                demostraci&oacute;n. Son condiciones o situaciones que se asumen como v&aacute;lidas
                                para poder avanzar con la planificaci&oacute;n del proyecto.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Caracter&iacute;sticas de los supuestos:</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Se basan en informaci&oacute;n hist&oacute;rica, experiencia
                                previa o juicio experto.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Pueden cambiar durante el ciclo de vida del proyecto.</span></em>
                    </p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Conllevan un nivel de riesgo si resultan ser
                                incorrectos.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Deben ser documentados y validados regularmente.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Ejemplos:</span></em><em><span
                                style="color:#0070c0;">&nbsp;</span></em><em><span style="color:#0070c0;">&quot;Los
                                recursos estar&aacute;n disponibles cuando se necesiten&quot;, &quot;El proveedor
                                entregar&aacute; los materiales a tiempo&quot;, &quot;No habr&aacute; cambios
                                significativos en la regulaci&oacute;n durante el proyecto&quot;.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Las restricciones son factores limitantes que afectan la
                                ejecuci&oacute;n de un proyecto, actividad o proceso. Son condiciones que limitan las
                                opciones del equipo de proyecto.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Caracter&iacute;sticas de las restricciones:</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Son factores que no pueden ser modificados f&aacute;cilmente por
                                el equipo del proyecto.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Establecen l&iacute;mites dentro de los cuales debe operar el
                                proyecto.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Ejemplos:</span></em><em><span
                                style="color:#0070c0;">&nbsp;</span></em><em><span style="color:#0070c0;">Presupuesto
                                fijo, fecha l&iacute;mite establecida, recursos espec&iacute;ficos disponibles,
                                regulaciones gubernamentales, limitaciones tecnol&oacute;gicas.</span></em></p>
                </td>
                <td
                    style="width:98.95pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Es la persona asignada para monitorear, validar y gestionar un
                                supuesto o restricci&oacute;n espec&iacute;fico durante el ciclo de vida del
                                proyecto.</span></em></p>
                </td>
                <td
                    style="width:67.05pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Indica la fecha hasta la cual se considera
                                v&aacute;lido.</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">&nbsp;</span></em></p>
                </td>
                <td
                    style="width:91.45pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Valores t&iacute;picos:</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Activo</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Validado</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Invalidado</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Falso</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">En revisi&oacute;n</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Pendiente de validaci&oacute;n</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Requiere verificaci&oacute;n adicional</span></em></p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:8pt;"><em><span
                                style="color:#0070c0;">Cerrado</span></em></p>
                </td>
                <td
                    style="width:212.1pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:17.35pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:10pt;"><strong>2</strong>
                    </p>
                </td>
                <td
                    style="width:179.1pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
                <td
                    style="width:98.95pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
                <td
                    style="width:67.05pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
                <td
                    style="width:91.45pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
                <td
                    style="width:212.1pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:17.35pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; text-align:center; font-size:10pt;"><strong>3</strong>
                    </p>
                </td>
                <td
                    style="width:179.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
                <td
                    style="width:98.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
                <td
                    style="width:67.05pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
                <td
                    style="width:91.45pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
                <td
                    style="width:212.1pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><strong>&nbsp;</strong></p>

</div>