<div>
    <div style="clear:both;">
        <p
            style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; border-bottom:0.75pt solid #000000; padding-bottom:1pt; font-size:18pt;">
            <strong>PLAN DE DIRECCI&Oacute;N DE PROYECTO</strong>
        </p>
    </div>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:215.1pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>NOMBRE DEL PROYECTO:</strong>
                    </p>
                </td>
                <td
                    style="width:310.3pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>C&Oacute;DIGO DEL
                            PROYECTO:</strong></p>
                </td>
                <td
                    style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>PROPIETARIO DEL
                            PROYECTO:</strong></p>
                </td>
                <td
                    style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>PATROCINADOR DEL
                            PROYECTO:</strong></p>
                </td>
                <td
                    style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>DIRECTOR DEL
                            PROYECTO:</strong></p>
                </td>
                <td
                    style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>FECHA DE
                            CREACI&Oacute;N:</strong></p>
                </td>
                <td
                    style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>ELABORADO POR:</strong></p>
                </td>
                <td
                    style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:215.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:11pt;"><strong>VERSI&Oacute;N DEL
                            DOCUMENTO:</strong></p>
                </td>
                <td
                    style="width:310.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:0pt; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>HIST&Oacute;RICO
            DE MODIFICACIONES DEL DOCUMENTO</strong></p>
    <table cellspacing="0" cellpadding="0" style="width:100%; border:0.75pt solid #7f7f7f; border-collapse:collapse;">
        <tbody>
            <tr>
                <td
                    style="width:12.1%; border-right:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:11pt;">
                        <strong>Fecha</strong>
                    </p>
                </td>
                <td
                    style="width:19.54%; border-right:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:11pt;"><strong>Realizada
                            por</strong></p>
                </td>
                <td
                    style="width:68.36%; border-left:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:11pt;"><strong>Breve
                            descripci&oacute;n de los cambios</strong></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:12.1%; border-top:0.75pt solid #7f7f7f; border-right:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
                <td
                    style="width:19.54%; border:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:10pt; widows:0; orphans:0;"><span
                            style="font-size:10pt; color:#0070c0;">&nbsp;</span></p>
                </td>
                <td
                    style="width:68.36%; border-top:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; border-bottom:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:12.1%; border-top:0.75pt solid #7f7f7f; border-right:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:19.54%; border-top:0.75pt solid #7f7f7f; border-right:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:68.36%; border-top:0.75pt solid #7f7f7f; border-left:0.75pt solid #7f7f7f; padding-right:1.62pt; padding-left:1.62pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>OBJETIVOS DEL PROYECTO</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="width:551.9pt; border:0.75pt solid #000000; border-collapse:collapse;">
        <tbody>
            <tr>
                <td
                    style="width:22.95pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>Id</strong>
                    </p>
                </td>
                <td
                    style="width:506.6pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>Objetivo</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
                <td
                    style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
                <td
                    style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
                <td
                    style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:22.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
                <td
                    style="width:506.6pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;"><span
                            style="color:#0070c0;">&nbsp;</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>CICLO DE VIDA DEL PROYECTO</strong>
    </p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:125.95pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>FASE</strong>
                    </p>
                </td>
                <td
                    style="width:125.95pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>ACTIVIDADES
                            CLAVE</strong></p>
                </td>
                <td
                    style="width:125.95pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>ENTREGABLES
                            CLAVE</strong></p>
                </td>
                <td
                    style="width:125.95pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>CRITERIO DE
                            SALIDA DE LA FASE</strong></p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:125.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:125.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:125.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:125.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
                <td
                    style="width:125.95pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;"><span
            style="width:48pt; display:inline-block;">&nbsp;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>DESVIACIONES AUTORIZADAS (NO GENERAN
            SOLICITUD DE CAMBIO)</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:134.1pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>ASPECTO</strong>
                    </p>
                </td>
                <td
                    style="width:391.3pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>UMBRALES</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:134.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>ALCANCE</strong></p>
                </td>
                <td
                    style="width:391.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:134.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>CRONOGRAMA</strong></p>
                </td>
                <td
                    style="width:391.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:134.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>PRESUPUESTO</strong></p>
                </td>
                <td
                    style="width:391.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:134.1pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;"><strong>&nbsp;</strong></p>
                </td>
                <td
                    style="width:391.3pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:10pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; background-color:#d9d9d9;"><strong>CRITERIOS DE
            &Eacute;XITO</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td style="width:536.2pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:justify;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>DOCUMENTOS ANEXOS</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:540pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">PLAN DE GESTI&Oacute;N DE REQUISITOS
                    </p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">PLAN DE GESTI&Oacute;N DEL ALCANCE</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">PLAN DE GESTI&Oacute;N DEL CRONOGRAMA
                    </p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">PLAN DE GESTI&Oacute;N DE COSTES</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">PLAN DE GESTI&Oacute;N DE CALIDAD</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">PLAN DE GESTI&Oacute;N DE RECURSOS</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">PLAN DE GESTI&Oacute;N DE LAS
                        COMUNICACIONES</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">PLAN DE GESTI&Oacute;N DE RIESGOS</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">PLAN DE GESTI&Oacute;N DE
                        ADQUISICIONES</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">PLAN DE GESTI&Oacute;N DE CAMBIOS</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">PLAN DE GESTI&Oacute;N DE LA
                        CONFIGURACI&Oacute;N</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:540pt; border-top-style:solid; border-top-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">L&Iacute;NEA BASE DEL ALCANCE:
                        ENUNCIADO DEL ALCANCE, EDT, DICCIONARIO EDT</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">L&Iacute;NEA BASE DEL CRONOGRAMA:
                        CRONOGRAMA (EN MSPROJECT), LISTA DE HITOS</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">L&Iacute;NEA BASE DE COSTES:
                        PRESUPUESTO (CON MSPROJECT), CURVA S DE COSTES (CON MSPROJECT)</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:540pt; border-top-style:solid; border-top-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">MATRIZ DE TRAZABILIDAD DE REQUISITOS
                    </p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">MATRIZ DE ASIGNACI&Oacute;N DE
                        RESPONSABILIDADES</p>
                </td>
            </tr>
            <tr>
                <td
                    style="width:540pt; border-top-style:solid; border-top-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">REGISTRO DE REQUISITOS</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">REGISTRO DE SUPUESTOS</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">REGISTRO DE INTERESADOS</p>
                    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt;">REGISTRO DE RIESGOS</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
    <p style="margin-top:0pt; margin-bottom:0pt; background-color:#d9d9d9;"><strong>APROBACI&Oacute;N</strong></p>
    <table cellspacing="0" cellpadding="0"
        style="border: 0.75pt solid rgb(0, 0, 0); border-collapse: collapse; width: 100%;">
        <tbody>
            <tr>
                <td
                    style="width:160.2pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>Cargo</strong>
                    </p>
                </td>
                <td
                    style="width:241.8pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>Firma</strong>
                    </p>
                </td>
                <td
                    style="width:109.65pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top; background-color:#d9d9d9;">
                    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;">
                        <strong>Fecha</strong>
                    </p>
                </td>
            </tr>
            <tr style="height:60.65pt;">
                <td
                    style="width:160.2pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">Patrocinador</p>
                </td>
                <td
                    style="width:241.8pt; border-style:solid; border-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:109.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; border-bottom-style:solid; border-bottom-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
            <tr style="height:63.8pt;">
                <td
                    style="width:160.2pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:middle;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">Director del Proyecto</p>
                </td>
                <td
                    style="width:241.8pt; border-top-style:solid; border-top-width:0.75pt; border-right-style:solid; border-right-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">&nbsp;</p>
                </td>
                <td
                    style="width:109.65pt; border-top-style:solid; border-top-width:0.75pt; border-left-style:solid; border-left-width:0.75pt; padding-right:5.03pt; padding-left:5.03pt; vertical-align:top;">
                    <p style="margin-top:6pt; margin-bottom:6pt; font-size:11pt;">&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:115%; font-size:10pt;">&nbsp;</p>

</div>