<table>
    <tbody>
        <tr>
            <td>
                <p><strong>PROYECTO</strong></p>
            </td>
            <td>&nbsp;</td>
            <td>
                <p><strong>C&Oacute;DIGO DE PROYECTO</strong></p>
            </td>
            <td>&nbsp;</td>
            <td>
                <p><strong>FECHA DE ELABORACI&Oacute;N</strong></p>
            </td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
<table>
    <tbody>
        <tr>
            <td>
                <p><strong>Informaci&oacute;n a comunicar</strong></p>
            </td>
            <td>
                <p><strong>Interesado/Destinatario</strong></p>
            </td>
            <td>
                <p><strong>Medio</strong></p>
            </td>
            <td>
                <p><strong>Momento o Periodicidad</strong></p>
            </td>
            <td>
                <p><strong>Observaciones</strong></p>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>